<%= provide :title, '' %>
<%= provide :description, '' %>
<%= provide :ld_json, {} %>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h2 class='bold'>Precisa falar com a gente?</h2>
            <p>Se você tem alguma dúvida,<u>veja nossa página com as<br> principais dúvidas!</u>
            Caso não tenha achado a solução para<br>o seu problema, utilize alguma das formas
            de contato<br> abaixo para falar com o nosso time!</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 text-center">
            <h4 class='bold'>atendimento@virtus.com.br</h4>
            <p class='bold'>Disponivél 24h</p>
            <p>Respondemos dentro de dois dias úteis</p>
          </div>

         <div class="col-md-4 text-center">
            <h4 class='bold'>Chat</h4>
            <p>Segunda a sexta 9h às 21</p>
            <p>e sábado das 9h às<br> 17h exceto feriados</p>
          </div>

         <div class="col-md-4 text-center">
            <h4 class='bold'>Assessoria de Imprensa</h4>
            <p>Pineapple Hub</p>
            <p>virtus@pineapplehub.com.br</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>